SERVER_PORT=8787
DATABASE_URL=postgres://user:password@containername:5432/dbname
BETTER_AUTH_URL=http://localhost:8787
BETTER_AUTH_TRUSTED_ORIGINS=http://localhost:3000

BETTER_AUTH_SECRET=
AUTH_METHODS=email,phone,google

# Mailer (auth_method: email)
SMTP_USER=fake@fake.com
SMTP_PASSWORD=fake

# SMS Sender (auth_method: phone)
TWILIO_ACCOUNT_SID=AC_fake
TWILIO_AUTH_TOKEN=fake
TWILIO_PHONE_NUMBER=fake

# Google Sign-in (auth_method: google)
GOOGLE_CLIENT_ID=fake
GOOGLE_CLIENT_SECRET=fake
